{{ $ancestors := first .level (split .course.path " ") }}
{{ if eq ($ancestors | len) ((intersect $ancestors (split .parent " ")) | len) }}
  <div id="posts-list-{{ .course.name | urlize }}" class="archive" data-category="{{ .course.name }}" data-parent-categories="{{ delimit $ancestors "," }}" style="display: block;">
  <h4 class="archive-title text-xlarge">
    <a class="link-unstyled" href="{{ .course.name | urlize }}">{{ .course.name }} ({{ .scratch.GetSortedMapValues (replace .course.path " " "/") | len }})</a>
  </h4>
  <ul class="archive-posts">
    {{ range (.scratch.GetSortedMapValues (replace .course.path " " "/")) }}
      <li class="archive-post" style="display: list-item;">
        <a class="archive-post-title" href="{{ .RelPermalink }}">{{ .Title }}</a><span class="archive-post-date"> - {{ partial "internal/date" . }}</span>
      </li>
    {{ end }}
  </ul>
  {{ $index := (add .level 1) }}
  {{ $path := (printf "%s" .course.path) }}
  {{ range .scratch.GetSortedMapValues (printf "course-level-%d" $index) }}
    {{ partial "internal/recursive-courses-full-2.html" (dict "scratch" $.scratch "course" . "level" $index "parent" $path) }}
  {{ end }}
  </div>
{{ end }}
